# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store

# Model files
*.pth

# Test/output files
*.log